<title> Charcoal </title>

<center>
	
	<div id="ImageBox" class="ImageBox" >
		<div id="ImageBoxInner" class="ImageBoxInner" >
		<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image1" class="ImageIn" src="/images/Ch/1.png" alt="Cover Pic" onclick="replacePicture( this.id );getImageDescDM( this.id )">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image2" class="ImageIn" src="/images/Ch/2.png" alt="Cover Pic" onclick="replacePicture( this.id );getImageDescDM( this.id )">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image3" class="ImageIn" src="/images/Ch/3.png" alt="Cover Pic" onclick="replacePicture( this.id );getImageDescDM( this.id )">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image4" class="ImageIn" src="/images/Ch/4.png" alt="Cover Pic" onclick="replacePicture( this.id );getImageDescDM( this.id )">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image5" class="ImageIn" src="/images/Ch/5.png" alt="Cover Pic" onclick="replacePicture( this.id );getImageDescDM( this.id )">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" class="ImageIn" id="Image6" src="/images/Ch/6.png" alt="Cover Pic" onclick="replacePicture( this.id );getImageDescDM( this.id )">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image7" src="/images/Pastels/1.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescDM( this.id );">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image8" src="/images/Pastels/2.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescDM( this.id );">
			</div>
			<div class="ImageGap"></div>
			<div id="Img1" class="Image">
				<img border="0" id="Image9" src="/images/Pastels/3.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescDM( this.id );">
			</div>
			<div class="ImageGap"></div>
		</div>
	</div>
	<div class="ImageBoxMain">
		<!-- <div class="ImageGap"></div> -->
		<div id="MainImage" class="ImageMain" > <!--display="inline">-->
			<img border="0" id="ImageMain" src="/images/Ch/1.png" alt="Cover Pic">
		</div>
		<div id="ImageDesc" class="ImageDesc" display="inline">
			<p id="Desc" class="Desc"> -- </p>
		</div>
	</div>
<center>
<script>
getImageDescDM('Image1');
</script>
