<title> Home </title>
<center>
  <div class="ImageBoxMainDesc" id="ImageBox">
    <br>
    <div id="MainImage" class="ImageMainDesc" display="inline">
      <img border="0" id="ImageMain" src="/images/renzuru.jpg" alt="Cover Pic">
    </div>
    <div id="ImageDesc" class="ImageDesc" display="inline">
        <br>
        <p id="Desc" class="DescFull">
          "Creativity is allowing yourself to make mistakes. Art is knowing which ones 
          to keep." -Scott Adams Art
        </p>
        <p id="Desc" class="DescFull">
          I started creating "Renzuru" on a lazy saturday afternoon when I stumbled upon the word.
          Renzuru, literally translated, means "consecutive cranes". It is
          a form of origami that deals with constructing multiple cranes from
          a single sheet of paper - a simple idea that led to a beautiful art.
        </p>
        <p class="DescFull">
          This page was inspired by that idea and now contains most of my art work 
          through the past few years.
          I've spent quite some time trying out different styles of work and it's all here!
          Be sure to check out the different media. 
          You can also find my work on <a target="_blank" href="https://www.facebook.com/Renzuru" class="Desc">Facebook</a>. 
          Feel free to drop me a mail at mmg9291@gmail.com with any suggestion or comments. Araigato!
        </p>
    </div>
</div>
<center>
