<!DOCTYPE html>

<html>

	<title>
		Renzuru
	</title>

	<head>
		<link rel="stylesheet" href="pagetheme.css" >
		<link rel="stylesheet" href="imagetheme.css" >
		<meta http-equiv="x-ua-compatible" content="IE=8">
		<link rel="stylesheet" href="maintheme.css" > 
		<script src="ImageTools.js" ></script>
		<meta http-equiv="x-ua-compatible" content="IE=8">
		<h1> Renzuru </h1>

	</head>
	
	<body>
		<center>

		<div class="MenuBar">
			<a class="MenuBox" href="/Home">
				<div id="Home" class="Box">Home</div>
				<div id="Homepic" class="Box"><img border="0" src="/images/home.jpg" alt="Cover Pic"></div>
			</a>
			<a class="MenuBox" href="/DryMedia">
				<div id="DryMedia" class="Box">DryMedia</div>
				<div id="Charcoalpic" class="Box"><img border="0" src="/images/charcoal.png" alt="Cover Pic"></div>
			</a>
			<a class="MenuBox" href="/Pencil">
				<div id="Pencil" class="Box">Pencil</div>
				<div id="Pencilpic" class="Box"><img border="0" src="/images/pencil.jpg" alt="Cover Pic"></div>
			</a>
			<a class="MenuBox" href="/Pen">
				<div id="Pen" class="Box">Pen</div>
				<div id="Pastelspic" class="Box"><img border="0" src="/images/pen.jpg" alt="Cover Pic"></div>
			</a>
			<a class="MenuBox" href="/Origami">
				<div id="Origami" class="Box">Origami</div>
				<div id="Penpic" class="Box"><img border="0" src="/images/other.jpg" alt="Cover Pic"></div>
			</a>
			<a class="MenuBox" href="/About">
				<div id="About" class="Box">About</div>
				<div id="Aboutpic" class="Box"><img border="0" src="/images/about.jpg" alt="Cover Pic"></div>
			</a>
		</div>
	</center>
	</body>
</html>