<center>
<div>

	<div class="Menubar2">
		
		<a class="MenuBox MenuName" href="/" >
			<div id="Renzuru" class="TitleBox" ><b>Renzuru</b></div>
		</a>

	</div>

	<div class="MenuBar1">
		
		<a id="Home1" class="MenuBox" href="/Home">
			<div id="Home" class="Box">Home</div>
		</a>
		<a id="DryMedia" class="MenuBox" href="/DryMedia">
			<div id="DryMedia" class="Box">DryMedia</div>
		</a>
		<a id="Pencil1" class="MenuBox" href="/Pencil">
			<div id="Pencil" class="Box">Pencil</div>
		</a>
		<a id="Pen1" class="MenuBox" href="/Pen">
			<div id="Pen" class="Box">Pen</div>
		</a>
		<a id"Origami1" class="MenuBox" href="/Origami">
			<div id="Origami" class="Box">Origami</div>
		</a>
		<a id="About1" class="MenuBox" href="/About">
			<div id="About" class="Box">About</div>
		</a>
		<a class="MenuBox MenuIcon" href="https://www.youtube.com/user/mmg9291/videos" target="_blank" >
			<img class="icon" src="/images/youtube.png" >
		</a>

	</div>
</div>
<hr width="80%" align="center">
</center>