<title> Pencil </title>

		<center>
		<div id="ImageBox" class="ImageBox" >
			<div id="ImageBoxInner" class="ImageBoxInner" >
				<div class="ImageGap"></div>
				<div id="Img1" class="Image">
					<img border="0" id="Image1" src="/images/Pencil/1.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescPencil( this.id );">
				</div>
				<div class="ImageGap"></div>
				<div id="Img1" class="Image">
					<img border="0" id="Image2" src="/images/Pencil/2.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescPencil( this.id );">
				</div>
				<div class="ImageGap"></div>
				<div id="Img1" class="Image">
					<img border="0" id="Image3" src="/images/Pencil/3.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescPencil( this.id );">
				</div>
				<div class="ImageGap"></div>
				<div id="Img1" class="Image">
					<img border="0" id="Image4" src="/images/Pencil/4.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescPencil( this.id );">
				</div>
				<div class="ImageGap"></div>
				<div id="Img1" class="Image">
					<img border="0" id="Image5" src="/images/Pencil/5.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescPencil( this.id );">
				</div>
				<div class="ImageGap"></div>
				<div id="Img1" class="Image">
					<img border="0" id="Image6" src="/images/Pencil/7.png" alt="Cover Pic" onclick="replacePicture( this.id ); getImageDescPencil( this.id );">
				</div>
			</div>
		</div>			

		<div class="ImageBoxMain">
			<div id="MainImage" class="ImageMain" display="inline">
				<img border="0" id="ImageMain" src="/images/Pencil/1.png" alt="Cover Pic">
			</div>
			<div id="ImageDesc" class="ImageDesc" display="inline">
				<p id="Desc" class="Desc">  -- </p>
			</div>
		</div>
		<center>
		<script>
		getImageDescPencil('Image1');
		</script>
